<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
  	<h1>Scrape players</h1>
  </head>
  <body>
  	<form method="post" action="/populatePlayers">
	    <input class='btn btn-primary' type='submit' value='Scrape'>
	</form>
  	<!-- <a href="/players" action="" class="btn btn-success">Scrape</a> -->
  </body>
</html>

<!-- %button{:action => "/players", :method => "get"} Scrape
%form{ :action => "/players", :method => "get"}
  %input{:type => "submit", :value => "Scrape", :class => "button"} -->